<ion-view title="Account" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="account-card21">
            <ion-item class="item-avatar" id="account-list-item12">
                <img src="img/fy873iV6SG2p60Ts7udQ_headshot.jpg">
                <h2>Jonathan</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/FpOu1zYtTR6ozwzX5fPg_FTG-PorscheDestinationDrives-SanFrancisco-CreditChristianMehlfhrer.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="account-list-item-container1"></div>
            <ion-item class="item-icon-left item-icon-right assertive" id="account-list-item13">
                <i class="icon ion-model-s"></i>Drift Rewards
                <i class="icon ion-cash"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>