<ion-view title="Billing info" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="billingInfo-form13" class="list">
            <h4 id="billingInfo-heading4" style="color:#FFFFFF;">Billing Info</h4>
            <ion-list id="billingInfo-list6">
                <label class="item item-input" id="billingInfo-input22">
                    <input type="text" placeholder="Billing Address">
                </label>
                <label class="item item-input" id="billingInfo-input23">
                    <input type="text" placeholder="City">
                </label>
                <label class="item item-input" id="billingInfo-input24">
                    <input type="text" placeholder="State">
                </label>
                <label class="item item-input" id="billingInfo-input25">
                    <input type="text" placeholder="Zip">
                </label>
                <label class="item item-input" id="billingInfo-input19">
                    <input type="text" placeholder="Card Number">
                </label>
                <label class="item item-input" id="billingInfo-input20">
                    <input type="date" placeholder="Exp Date">
                </label>
                <label class="item item-input" id="billingInfo-input21">
                    <input type="password" placeholder="cvc">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 47px;"></div>
            <a ui-sref="login" id="billingInfo-button14" class="button button-dark  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>