<ion-view title="Leaderboard" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list id="leaderboard-list7">
            <ion-item class="item-avatar" id="leaderboard-list-item5">
                <img src="img/xTdkYWotSzOSeX0s66za_55271daeb2bad.image.jpg">
                <h2>1. Ronald</h2>
            </ion-item>
            <ion-item class="item-avatar" id="leaderboard-list-item6">
                <img src="img/GH1TaEIdRgeJi59qgwlw_headshot.jpg.png">
                <h2>2. Shawn</h2>
            </ion-item>
            <ion-item class="item-avatar" id="leaderboard-list-item7">
                <img src="img/oVrFw2fTrOCmufoqE9Zu_579bb89229c2d.image.jpg">
                <h2>3. Tyrone</h2>
            </ion-item>
            <ion-item class="item-avatar" id="leaderboard-list-item8">
                <img src="img/DY7WX3JRff5Jl3sAGlAc_user-male-shape-in-a-circle-ios-7-interface-symbol_318-35357.jpg">
                <h2>4. Tremaine</h2>
            </ion-item>
            <ion-item class="item-avatar" id="leaderboard-list-item9">
                <img src="img/t7sEPg2ZQ9WEbs82B7vH_loah_profile1.png">
                <h2>5. Hannah</h2>
            </ion-item>
            <ion-item class="item-avatar" id="leaderboard-list-item10">
                <img src="img/psqAuQHiQRCDQHRmjqug_whitneyrawls_28A8129-2-circular-headshot-500x500-300x300.png">
                <h2>6. Oladele</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>