<ion-view title="Social drift" hide-nav-bar="true" id="page5">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <button id="socialDrift-button15" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-small icon-left ion-ios-arrow-back">Back</button>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <div>
            <img src="img/uqp4fklLRCSkS1pXYaRF_San_Franicisco.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="socialDrift-button-bar3" class="button-bar">
            <a ui-sref="leaderboard" id="socialDrift-button16" class="button button-dark  button-block icon ion-ios-contact">Friends</a>
            <a ui-sref="account" id="socialDrift-button18" class="button button-dark  button-block icon ion-gear-b">Account</a>
        </div>
        <div id="socialDrift-button-bar2" class="button-bar"></div>
    </ion-content>
</ion-view>